
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Project | Materials </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/main.css">

</head>
<body>


<div class="wrapper">

    <nav class="navbar navbar-expand bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Logo</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="home.html" th:href="@{/home}">Home</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Menu
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/home/projects}">View Projects</a>
                    <a class="dropdown-item" th:href="@{/home/upload}">Upload Files</a>
                </div>
            </li>
            <!-- Dropdown User -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userdrop" data-toggle="dropdown">
                    [[${#request.userPrincipal.principal.username}]]
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="hello.html" th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>

    </nav>

    <div class="container-fluid pt-3">
        <br>
        <h5>Order List</h5>
        <br>
        <div>
            <a class="btn btn-primary" id="plusBtn" data-toggle="modal" href="#addModal"><i class="fas fa-plus"></i></a>
            <a class="btn btn-success" id="planBtn"><i class="fas fa-arrow-right"></i></a>

        </div>
        <div class="container-fluid pt-3">
            <table class="table" id="planTbl">
                <thead class="thead-light">
                    <th>Id</th>
                    <th>Description</th>
                    <th>Order Date</th>
                    <th>Quantity</th>
                    <th></th>
                </thead>
            </table>
        </div>


    </div>

    <div class="modal" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add Order</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <!--                    <form method="post" id="form" th:action="@{/save/plan(id=${ecomid})}">-->
                    <form id="form">
                        <input type="hidden" name="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf">
                        <div class="form-group">
                            <label for="description">Material</label>
                            <select id="description" class="form-control">

                            </select>
                        </div>
                        <div class="form-group">
                            <label for="start_date">Date</label>
                            <input type="date" class="form-control" id="start_date">
                        </div>
                        <div class="form-group">
                            <label for="quantity">Quantity (%)</label>
                            <input type="number" step=".01" min="0" max="100" class="form-control" id="quantity">
                        </div>

                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-primary" id="okBtn" data-dismiss="modal">Save</button>
                    <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="/scripts/editMaterial.js"></script>

</body>

</html>
